# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

VITE_FIREBASE_API_KEY=AIzaSyBKQ06k9LN5sOTL5T7i0KK1JISNOrMl5ms
VITE_FIREBASE_AUTH_DOMAIN=ventech-117b5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ventech-117b5
VITE_FIREBASE_STORAGE_BUCKET=ventech-117b5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=154552829941
VITE_FIREBASE_APP_ID=1:154552829941:web:744e234837d523ddac02bc
